<ion-header>
    <ion-navbar [hideBackButton]="true">
        <ion-buttons left>
            <button ion-button icon-only menuToggle></button>
        </ion-buttons>
        <ion-title>Abyssea {{title}}</ion-title>
        <ion-buttons right>
            <button ion-button outline small (click)="ui.settings()" [innerHTML]="ffxi.vanatime"></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content [ngSwitch]="type">
    <ng-container *ngSwitchCase="'red'">
        <ion-list *ngFor="let group of ffxi.abyssea.red">
            <ion-list-header>
                <img [src]="'../assets/images/elements/' + group.title + '.png'" /><span [innerHTML]="group.title"></span>
            </ion-list-header>
            <ion-item *ngFor="let item of group.items">
                <img [src]="'../assets/images/weapons/' + item.weapon + '.png'" /><span [innerHTML]="item.weaponskill"></span>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngSwitchCase="'yellow'">
        <ion-list *ngFor="let group of ffxi.abyssea.yellow">
            <ion-list-header>
                <img [src]="'../assets/images/elements/' + group.title + '.png'" /><span [innerHTML]="group.title"></span>
            </ion-list-header>
            <ion-item *ngFor="let item of group.items">
                <img [src]="'../assets/images/type/' + item.type + '.png'" /><span [innerHTML]="item.spell"></span>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngSwitchCase="'blue-piercing'">
        <ion-list *ngFor="let group of ffxi.abyssea.blue.piercing">
            <ion-list-header>
                <span [innerHTML]="group.title"></span>
            </ion-list-header>
            <ion-item *ngFor="let item of group.items">
                <img [src]="'../assets/images/weapons/' + item.weapon + '.png'" /><span [innerHTML]="item.weaponskill"></span>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngSwitchCase="'blue-slashing'">
        <ion-list *ngFor="let group of ffxi.abyssea.blue.slashing">
            <ion-list-header>
                <span [innerHTML]="group.title"></span>
            </ion-list-header>
            <ion-item *ngFor="let item of group.items">
                <img [src]="'../assets/images/weapons/' + item.weapon + '.png'" /><span [innerHTML]="item.weaponskill"></span>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngSwitchCase="'blue-blunt'">
        <ion-list *ngFor="let group of ffxi.abyssea.blue.blunt">
            <ion-list-header>
                <span [innerHTML]="group.title"></span>
            </ion-list-header>
            <ion-item *ngFor="let item of group.items">
                <img [src]="'../assets/images/weapons/' + item.weapon + '.png'" /><span [innerHTML]="item.weaponskill"></span>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>
<ion-footer *ngIf="type && type.startsWith('blue')">
    <ion-toolbar>
        <ion-segment [(ngModel)]="type">
            <ion-segment-button value="blue-piercing" (click)="ui.link('blue-piercing')"><img src="../assets/images/time/piercing.png" /><span>Piercing</span></ion-segment-button>
            <ion-segment-button value="blue-slashing" (click)="ui.link('blue-slashing')"><img src="../assets/images/time/slashing.png" /><span>Slashing</span></ion-segment-button>
            <ion-segment-button value="blue-blunt" (click)="ui.link('blue-blunt')"><img src="../assets/images/time/blunt.png" /><span>Blunt</span></ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>