body { font: Arial, sans-serif }
#body .km-view { z-index:1; background:#FFF } /* set z-index to overlap menu */
#body .km-group-title img { width:16px; height:16px; margin-right:10px; vertical-align:middle }
#body .km-group-title span { display:inline-block; line-height:16px; text-indent:0; vertical-align:middle }

/* menu */
#body .menu { display:none; position:absolute; top:0; left:0; z-index:0; width:250px; height:100%; color:#FFF; background:#333 }
#body .menu .km-listview-link { line-height:24px }
#body .menu .km-list > li.km-state-active .km-listview-link, #body .menu .km-list > li.active .km-listview-link { background-color:#1A2133 }
#body li a.km-listview-link.active { background-color:#1A2133 }
#body .menu .km-group-title { background-color:#3d4554; border-top-color:#3d4554; text-shadow:0 1px 1px #362630 }
#body .menu .km-list > li { font-size:1em }
#body .menu .km-list > li { background:#30384a;  }
#body .menu .km-list > li a { color:#b4bac6; line-height:16px; vertical-align:middle }
#body .menu .km-list > li a img { width:16px; height:16px; margin-right:10px; vertical-align:middle }
#body .menu .version { padding:10px; color:#797d8e; font-size:0.8em; font-weight:normal; text-align:center }

.km-button.active { background-color:#264e8c }

#body .km-group-title .km-text span { text-transform:capitalize }

/* kendo font icons */
.km-button.list .km-custom:after { content:'' }
